.wrapper {
  padding: 20px 15px;
  /*margin-bottom: 50px;*/
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 200px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: #242d31;
  text-decoration: none;
  border-radius: 10px;
  color: #cbd6e0;
  border: 2px solid #cbd6e0;

  transition: background 350ms linear;
}

.backButton:hover {
  background: #cbd6e0;
  color: #150c3c;
}

.icon {
  width: 24px;
  height: 24px;
}

.infoWrap {
  margin-top: 70px;
}

.linksWrap {
  margin-bottom: 36px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.title {
  font-size: 28px;
  color: #cbd6e0;
}

.link {
  font-size: 30px;
  text-decoration: underline;
  color: #06739f;
  border-radius: 5px;

  cursor: pointer;
  transition: all 350ms linear;
}

.link:hover {
  color: #000;
  background: #6fb0e3;
}
