.wrapper {
  padding: 20px 15px;
}

.backButton {
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #242d31;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 10px;

  transition: background 350ms linear;
}

.backButton:hover {
  background: #cbd6e0;
}

.infoWrap {
  margin-top: 25px;
}

.link {
  font-size: 30px;
  text-decoration: underline;
  color: #06739f;
  border-radius: 5px;

  cursor: pointer;
  transition: all 350ms linear;
}

.link:hover {
  color: #000;
  background: #6fb0e3;
}
