.wrapper {
  padding: 20px 15px;
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 200px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 10px;
  color: #cbd6e0;
  border: 2px solid #cbd6e0;

  transition: background 350ms linear;
}

.backButton:hover {
  background: #cbd6e0;
  color: #150c3c;
}

.icon {
  width: 24px;
  height: 24px;
}

.infoWrap {
  margin-top: 70px;
}

.linksWrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.title {
  font-size: 22px;
  color: #cbd6e0;

  @media (960px <= width) {
    font-size: 32px;
  }
}

.link {
  @media (960px <= width) {
    font-size: 30px;
  }

  font-size: 22px;
  padding: 8px 12px;
  background-color: #453683;
  color: #a0cae1;
  border-radius: 5px;
  cursor: pointer;
  transition: color 350ms linear, background-color 350ms linear, text-decoration 350ms linear;
}

.link:hover {
  color: #acef80;
  background: #381e83;
}
