.container {
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;

    @media (width <= 767.98px) {
        max-width: 480px;
    }

    @media (768px <= width) {
        padding-right: 40px;
        padding-left: 40px;
    }

    @media (768px <= width <= 1280px) {
        max-width: 960px;
    }

    max-width: 1440px;
}