.list {
    margin: 0 auto;
    max-width: 980px;
}

.item {
    padding: 50px 20px;
    margin-top: 50px;
    /*background: #393d4b52;*/
    background: rgba(57, 61, 75, 0.32);
    border: 1px solid #565756;
    border-radius: 10px;
}

.noReview {
    color: #e1af8b;
}

.author {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 28px;
    color: #d7dee1;
}

/*.author:not(:first-child) {*/
/*    margin-top: 35px;*/
/*}*/

.text {
    color: #cbd6e0;
    text-align: left;
}