.wrapper {
  margin-top: 25px;
  display: flex;
}

.container {
  display: flex;
  width: 50%;
  flex-direction: column;
  color: #cbd6e0;
}

.pictureThumb {
  margin-right: 25px;
}

.title {
  font-size: 32px;
}

.infoTitle {
  font-weight: 700;
  font-size: 28px;
}

.picture {
  width: 500px;
  border-radius: 15px;
}

/*p {*/
/*  margin: 15px 0 0;*/
/*}*/
