.form {
  padding-top: 50px;
  padding-bottom: 50px;
}

.input {
  /*margin-top: 20px;*/
  padding: 10px 20px;
  width: 350px;
  border-radius: 10px;
  border: 2px solid #3a3939;
  border-radius: 20px;
  background: #1a1336;
  color: #cbd6e0;
  transition: border 350ms linear;
  outline: none;
}

input:focus, input:active {
  border: 2px solid #a6a4a4;
}

.button {
  padding: 5px 15px;
  height: 30px;

  font-size: 16px;

  background: #6fb0e3;
  border: none;
  border-radius: 10px;

  cursor: pointer;

  transition: all 350ms linear;
}

.button:hover {
  background-color: rgba(106, 203, 220, 0.71);
  color: rgba(52, 50, 50, 0.58);
}

.button:active {
  box-shadow: rgba(37, 37, 58, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
