.header {
    font-size: 25px;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 30px 50px;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.link {
    font-family: 'Poppins', sans-serif;
    padding: 20px 40px;

    color: #f3f2f2;
    text-decoration: none;
    font-weight: 300;
    border: 1px solid #6a6d77;
    border-radius: 20px;

    transition: color 350ms linear;
}

.link:hover {
    color: #4f8849;
}

.link:global(.active) {
    color: #fff;
    font-weight: 700;
    background: #b74b4b;

    transition: color 350ms linear;
}

.link:global(.active):hover {
    color: #4f8849;
}
