.form {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    border-radius: 3px;
    overflow: hidden;
}

.input {
    padding: 10px 20px 10px 45px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #3a3939;
    border-radius: 20px;
    background: #1a1336;
    color: #cbd6e0;
    transition: border 350ms linear;
    outline: none;
}

input:focus, input:active {
    border: 2px solid #a6a4a4;
}

.button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 0;
    opacity: 0.6;
    transition: opacity 250ms linear;
    cursor: pointer;
    outline: none;
    background: none;

    &:hover {
        opacity: 1;
    }
}

.buttonLabel {
    /*position: absolute;*/
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}

.icon {
    color: #cbd6e0;
}