#root {
  margin: 0 auto;
  padding-bottom: 2rem;
  text-align: center;
color: rgba(255, 20, 189, 1);
  color: rgba(49, 32, 43, 1);
  /*--clr-neon: hsl(317 100% 54%);*/
  /*--clr-bg: hsl(323 21% 16%);*/
}